:root{
     --DarkGray: hsl(0, 0%, 63%);
     --Black: hsl(0, 0%, 0%);
     --White: hsl(0, 0%, 100%);
     --VeryDarkGray: hsl(0, 0%, 27%);
}
body{
    display:grid;
    background-color: var(--White);
    font-family:'League Spartan', sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.heroBanner{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo{
    position: absolute;
    top: 3rem;
    right: 40%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100VW;
    background-color: var(--White);
    padding: 3rem 0.5rem;
    z-index: 999;
    transform: translateX(-100vw);
    transition: transform .5s ease;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
}
nav ul li {
    margin-right: 1rem;
}

nav ul li:first-child{
    margin-left:0;
    position: absolute;
    left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--Black);
}

@media(max-width:300px)
{
    nav ul{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(min-width:1024px){
    .logo{
        left:3rem;
        top:4rem;
    }
    
    .close{
        display: none;
    }
    .humburger{
        display: none;
    }
    nav{
        top: 1rem;
        background-color: transparent;
        width: auto;
        left: 18%;
        display: flex;
    }
   
    nav ul li {
        text-transform: lowercase;
        font-size: 1.05rem;
        margin-right: 3rem;
    }
    nav ul li a {
        top: 2rem;
        color: var(--White);
    }
}
.humburger{
    position: absolute;
    left: 1rem;
    top: 2.99rem;
    background-color: transparent;
    border: none;
}

.slideCmpnt{
   display:grid;
   grid-template-columns: repeat(3,1fr);
   max-width:100vw;
   height: 100%;

}
.slide{
    min-width: 100vw;
    height: 100%;
    display: none;
    grid-template-columns: repeat(1,1fr);
}


.slide .slideImage{
    background-color: var(--DarkGray);
}

.slideImage img{
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
}

.slide .slideText{
    padding: 2.5rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
}
.slide .slideText h2{
   font-size: 2.5rem;
   color: var(--Black);
   font-weight: 700;

}

@media(min-width:1440px){
    .slide .slideText h2{
        margin-right: 6rem;
    }
    .slide .slideText{
        padding: 4rem 1rem 4rem 4rem;
    }
}

.slide .slideText p{
    line-height: 1.5rem;
    margin: 2rem 0;
    color: var(--DarkGray);
}
@media(min-width:567px) and (max-width:799px){
    .slide .slideText h2{
        font-size: 3rem;
    }
    .slide .slideText p{
        line-height: 2.5rem;
        font-size: 1.3rem;
    }
}

.slide .slideText a{
 text-transform: uppercase;
 text-decoration: none;
 color: var(--Black);
 letter-spacing: .6rem;
 font-weight: 600;

}
.slider{
   position:absolute;
   background-color: var(--Black);
   display:flex;
   justify-content:center;
   width: 4rem;
   padding: .5rem 2.5rem;
   right: 0;
   top:100vw;
   transform: translateY(-37px);
}

.slider button{
   background-color: transparent;
   border: 0;
}
.slider button:first-child{
    margin-right:1.8rem;
}
@media(min-width:1024px){
    
    .slide:first-child .slideImage img{
        content: url('images/desktop-image-hero-1.jpg');
        
    }
    .slide:nth-child(2) .slideImage img{
        content: url('images/desktop-image-hero-2.jpg');
        
    }
    .slide:nth-child(3) .slideImage img{
        content: url('images/desktop-image-hero-3.jpg');
    }
    
    .slide .slideImage img{
        width: 100%;
        height: 100%;
        aspect-ratio:850/534;
    }
}
@media(min-width:1154px){
    .heroBanner{
        height: 534px;
        overflow-y: hidden;

    }
    .slide{
        width: 100%;
        height: 100%;
        grid-template-columns: 850px 1fr;
    }
    .slide .slideItm:nth-child(2){
         width: 65vh;
    }
    
    .slider{
        left:850px;
        top: 534px;
        transform: translateY(-42.4px);
    }
   
}
@media(min-width:1204px){
    .slider{
        width: 4rem;
        padding: 1.5rem 4.95rem;
        right: 0;
        transform: translateY(-74.4px);
    }
    .slider button:first-child{
        margin-right:4rem;
    }
}

.AboutSection{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    overflow: hidden;
    margin-bottom: 1rem;
}
.AboutSection .AboutItem{
    width: 100vw;
}
.AboutItem img{
    width: 100%;
    background-color: var(--DarkGray);
}
.AboutSection .about{
    padding: 2.5rem;
}

.about p{
    line-height: 1.5rem;
    margin: 2rem 0;
    color: var(--DarkGray);
}

.about h2{
   font-size: .8rem;
   color: var(--Black);
   text-transform: uppercase;
   letter-spacing: .35rem;
   font-weight: 600;
}

@media(min-width:567px) and (max-width:799px){
    .about p{
        line-height: 2rem;
        font-size: 1.3rem;
        
    }
    .about h2{
        font-size:1rem ;
    }
}
@media(min-width:1024px){
    .AboutSection{
        grid-template-columns: repeat(3,1fr);
        width: 100vw;
        height: 35vh;
    }
    .AboutSection .about {
        padding:3rem 2rem;
    }
    .AboutSection .about p{
        margin: 2rem 0;
        overflow: hidden;
        line-height: 1.3rem;
        max-height: 100%;
        text-align: justify;
    }
    .AboutSection .AboutItem:first-child ,.AboutSection .AboutItem:nth-child(3){
        width:30vw
    }
    .AboutSection .AboutItem:nth-child(2){
        width: 40vw;
        align-items: center;
        justify-content: center;
    }

}
